<!--
 * @Author: Fox Blue
 * @Date: 2021-08-17 15:53:49
 * @LastEditTime: 2021-09-02 00:04:51
 * @Description: Forward, no stop
-->
<link rel="stylesheet" href="__STATIC__/mobile/css/defi.css" media="all">
<link rel="stylesheet" href="__STATIC__/iconfont/iconfont.css" media="all">
<div class="a-header position-re layui-rows">
    <div class="layui-col-xs4">
        <a href="javascript:window.history.go(-1);"><i class="layui-icon layui-icon-left"></i></a>
    </div>
	<div class="layui-col-xs4 text-center">

		{:lang('lend.lend_pc_title')}
	</div>
	<div class="layui-col-xs4 text-right">
        <a href="{:url('/mobile')}"><i class="layui-icon layui-icon-home"></i></a>
    </div>
</div>
<div class="loan-content">
    <!-- 余额栏目 -->
    <!--<div class="loan-content-amount">-->
    <!--    <p class="loan-content-amounttext text-overflow">{:lang('lend.lend_canjie')}（USDT）</p>-->
    <!--    <p class="loan-content-amountnum text-overflow">{:sysconfig('lend','lend_max')}</p>-->
    <!--</div>-->
    <a href="{:url('lend/otc_loan_history')}">
    <div class="loan-content-amount">
        <p class="loan-content-amounttext text-overflow">{:lang('lend.lend_zhangdan')}</p>
        <p class="loan-content-amountnum text-overflow">{$order_count}</p>
    </div>
    </a>
    <!-- 账单栏目 -->
    <!--<div class="loan-content-billbox">-->
    <!--    <div class="loan-content-billboxnav wl_flex wl_align_center">-->
    <!--        <div class="loan-content-billboxnavs">-->
    <!--            <a class="loan-content-billboxnvalink" href="{:url('lend/otc_loan_history')}">-->
    <!--                <p class="title text-overflow">{:lang('lend.lend_zhangdan')}</p>-->
    <!--                <p class="num text-overflow">{$order_count}</p>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="loan-content-billboxnavs">-->
    <!--            <a class="loan-content-billboxnvalink" href="javascript:;">-->
    <!--                <p class="title text-overflow">{:lang('lend.lend_totaled')}</p>-->
    <!--                <p class="num text-overflow">{:sysconfig('lend','lend_max')}</p>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <!-- 注意事项按钮 -->
    <div class="loan-content-precautions">
        <a class="loan-content-precautionslink" href="{:url('show/news',['id'=>31])}">
            <div class="loan-content-precautions-nav wl_flex wl_align_center wl_justify_between">
                <span class="text-overflow">{:lang('lend.lend_tips')}</span>
                <i class="iconfont icon-youbian"></i>
            </div>
        </a>
    </div>
</div>

<div class="loan-content mt-10">
	<div class="layui-row white-box mt-30">
		<div class="layui-col-xs12">
			<div class="a-form">
				<form class="layui-form" action="">
        		<div class="layui-form-item">
					<div class="a-flex-item text-center" id="finance_img_btn">
						{if $finance_img}<img src="{$finance_img}" width="100%" height="100%">{else}<img src="__STATIC__/mobile/img/assets_ico_HL.png"  width="150px">{/if}
						<input type="hidden" id="finance_img" name="finance_img" value="{$finance_img}">
					</div>
        			<label class="a-label text-center">{:lang('lend.lend_finance_upload_tip')}</label>
        			<button type="button" class="layui-btn layui-btn-fluid layui-btn-warm up-pic" >
        				<i class="layui-icon">&#xe67c;</i>{:lang('lend.lend_finance_upload_btn')}
        				</button>
        		</div>
				<div class="layui-form-item">
					 <button class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-lg" lay-submit lay-filter="okRecharge">{:lang('lend.lend_finance_upload_sure')}</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="loan-btnbox" style="margin-top:20px!important">
    <!-- 入口 -->
    <a class="loan-btn-link" href="{:url('lend/otc_loan_now')}">
        <div class="loan-btn">{:lang('lend.lend_now')}</div>
    </a>
</div>
<!--footer-->
{include file="./block/foot_script"}
<script>
	layui.use(['layer', 'jquery', 'form', 'element', 'upload'], function(){
		var layer = layui.layer
		,$ = layui.jquery
		,form = layui.form;
		var element = layui.element;
		var upload = layui.upload;

		$.ajaxSetup({
			headers: {
				'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
			}
		});

		upload.render({
			elem: '.up-pic'
			,url: "{:url('finance/upload_pic')}"
			,exts: 'jpg|png|jpeg',
			done: function(res){
				if(res.code !== 0){
                    return layer.msg(res.msg);
                }
                //上传成功
                if(res.data.url){
                    $('#finance_img').val(res.data.url);
					$('#finance_img_btn').find('img').attr('src',res.data.src);
					$('#finance_img_btn').find('img').css({'width':'100%','height':'100%'});
                    layer.msg(res.msg);
                }
			}
		});

		form.verify({
			recharge: [
				/^(?!(0[0-9]{0,}$))[0-9]{1,}[.]{0,}[0-9]{0,}$/,
				"{:lang('finance.recharge_num_check')}"
			]
		})

		element.on('tab(tabRecharge)', function(data){
			var type = this.getAttribute('lay-id');
			$("#usdt_recharge_type").val(type);
		});

		form.on('submit(okRecharge)', function(data){
			loading =layer.load(1, {shade: [0.1,'#fff']});
			$.post("{:url('lend/upload_finance')}", data.field, function (res) {
				layer.close(loading);
				if (res.code > 0) {
					layer.msg(res.msg, {time: 1800}, function () {
						location.href = res.url;
					});
				} else {
					if(res.url){
						layer.msg(res.msg, {time: 1800}, function () {
							location.href = res.url;
						});
					}else{
						layer.msg(res.msg, {time: 1800});
					}
				}
			});
			return false;
		})
	})
	$(function(){
		$("#tabRecharge .layui-tab-title").find("li").eq(0).addClass("layui-this");
		$("#tabRecharge .layui-tab-content").find(".layui-tab-item").eq(0).addClass("layui-show");
		var type = $("#tabRecharge .layui-tab-title").find("li").eq(0).attr("lay-id");
		$("#usdt_recharge_type").val(type);
	})
	function savepic(_this){
		var picurl= $(_this).parent().parent().find("img").attr("src");
		savePicture(picurl);
	}
	var triggerEvent = "touchstart";
	function savePicture(Url){
		var blob=new Blob([''], {type:'application/octet-stream'});
		var url = URL.createObjectURL(blob);
		var a = document.createElement('a');
		a.href = Url;
		a.download = Url.replace(/(.*\/)*([^.]+.*)/ig,"$2").split("?")[0];
		var e = document.createEvent('MouseEvents');
		e.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
		a.dispatchEvent(e);
		URL.revokeObjectURL(url);
	}
	function clipBoard(text) {
		const body = document.body;
		const input = document.createElement("input");
		body.append(input);
		input.style.opacity = 0;
		input.value = text;
		input.select();
		input.setSelectionRange(0, input.value.length);
		document.execCommand("Copy");
		input.blur();
		input.remove();
	}
	function copy(t) {
		var codeurl = t;
		clipBoard(codeurl);
		layer.msg("{:lang('public.copyok')}");
	}
</script>